<section class="form__flex">
  <!-- Formulario para actualizar el correo electrónico -->
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-correo"
    method="post"
  >
    <!-- Título del formulario -->
    <h1>Actualizar Correo</h1>
    
    <!-- Campo de entrada para el correo electrónico -->
    <label for="correo">Correo</label>
    <input
      id="_registercorreo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    
    <!-- Botón de envío del formulario -->
    <button
      id="submit-btn registrar-submit-btn"
      type="submit"
      name="enviar"
      onclick="cambiarform()"
    >
      Enviar
    </button>
  </form>

  <!-- Formulario para verificar la actualización del correo -->
  <form
    class="form_login"
    id="validar-Usuario-form"
    action="/verificar-actualizar-correo"
    method="post"
    style="display: none"
  >
    <!-- Mensaje informativo para el usuario -->
    <p>En tu correo encontrarás el código de verificación</p>
    
    <!-- Campo de entrada para el correo electrónico -->
    <label for="correo">Correo</label>
    <input
      id="__registercorreo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    
    <!-- Campo de entrada para el código de verificación -->
    <label for="codigo">Código</label>
    <input
      id="registercodigo"
      type="text"
      name="codigo"
      placeholder="Código"
      maxlength="4"
      autocomplete="off"
      required
    />
    
    <!-- Botón de envío del formulario -->
    <button id="submit-btn" type="submit" name="enviar">Verificar</button>
  </form>
</section>

<!-- Inclusión del script JavaScript para el manejo del formulario -->
<script src="/resources/js/forms.js"></script>
