<section class="form__flex">
  <!-- Formulario para actualizar el teléfono del usuario -->
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-telefono"
    method="post"
  >
    <h1>Actualizar Teléfono</h1>
    <!-- Etiqueta y campo de entrada para el teléfono -->
    <label for="telefono">Teléfono</label>
    <input
      type="number"
      name="telefono"
      placeholder="6047598542"
      autocomplete="off"
      maxlength="10"
      required
    />
    <!-- Botón de envío del formulario -->
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<!-- Script para manejar la funcionalidad del formulario -->
<script src="/resources/js/forms.js"></script>
