<section class="form__flex">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-contrasenia"
    method="post"
  >
    <h1>Actualizar Contraseña</h1>
    <label for="ant_contrasenia">Contraseña Anterior</label>
    <input
      type="password"
      name="ant_contrasenia"
      placeholder="Contraseña"
      autocomplete="off"
      maxlength="150"
      required
    />

    <label for="Nuev_contrasenia">Nueva Contraseña</label>
    <input
      type="password"
      name="Nuev_contrasenia"
      placeholder="Contraseña"
      autocomplete="off"
      maxlength="150"
      required
    />

    <label for="Nuev_contrasenia_2">Repite Tu Contraseña</label>
    <input
      type="password"
      name="Nuev_contrasenia_2"
      placeholder="Contraseña"
      autocomplete="off"
      maxlength="150"
      required
    />

    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
