<section class="form__flex">
  <!-- Formulario para actualizar la identificación del usuario -->
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-identificacion"
    method="post"
  >
    <h1>Actualizar Identificación</h1>
    <!-- Etiqueta y campo de entrada para la identificación -->
    <label for="identificacion">Identificación</label>
    <input
      type="number"
      name="identificacion"
      placeholder="1000000000"
      autocomplete="off"
      maxlength="20"
      required
    />
    <!-- Botón de envío del formulario -->
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<!-- Script para manejar la funcionalidad del formulario -->
<script src="/resources/js/forms.js"></script>
