<section class="form__flex">
  <!-- Formulario para actualizar el nombre del usuario -->
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-nombre"
    method="post"
  >
    <h1>Actualizar Nombre</h1>
    <!-- Etiqueta y campo de entrada para el nombre -->
    <label for="nombre">Nombre</label>
    <input
      type="text"
      name="nombre"
      placeholder="Nombre"
      autocomplete="off"
      maxlength="150"
      required
    />
    <!-- Botón de envío del formulario -->
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<!-- Script para manejar la funcionalidad del formulario -->
<script src="/resources/js/forms.js"></script>
