<section style="width: fit-content">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-celular"
    method="post"
  >
    <h1>Actualizar Celular</h1>
    <label for="celular">Celular</label>
    <input
      type="number"
      name="celular"
      placeholder="3000000000"
      autocomplete="off"
      maxlength="10"
      minlength="10"
      required
    />
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
