<section style="width: fit-content">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-correo"
    method="post"
  >
    <h1>actualizar Correo</h1>
    <label for="correo">Correo</label>
    <input
      id="_registercorreo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    <button
      id="submit-btn registrar-submit-btn"
      type="submit"
      name="enviar"
      onclick="cambiarform()"
    >
      Enviar
    </button>
  </form>
  <form
    class="form_login"
    id="validar-Usuario-form"
    action="/verificar-actualizar-correo"
    method="post"
    style="display: none"
  >
    <p>En tu correo encontraras el codigo de verificacion</p>
    <label for="correo">Correo</label>
    <input
      id="__registercorreo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    <label for="codigo">Codigo</label>
    <input
      id="registercodigo"
      type="text"
      name="codigo"
      placeholder="Codigo"
      maxlength="4"
      autocomplete="off"
      required
    />
    <button id="submit-btn" type="submit" name="enviar">Verificar</button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
