<section style="width: fit-content">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-identificacion"
    method="post"
  >
    <h1>Actualizar Identificacion</h1>
    <label for="identificacion">Identificacion</label>
    <input
      type="number"
      name="identificacion"
      placeholder="1000000000"
      autocomplete="off"
      maxlength="20"
      required
    />
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
