<section class="form__flex">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/actualizar-direccion"
    method="post"
  >
    <h1>Actualizar Dirección</h1>
    <label for="direccion">Dirección</label>
    <input
      type="text"
      name="direccion"
      placeholder="Dirección"
      autocomplete="off"
      maxlength="100"
      required
    />
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
