<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form action="/hacerUnPost" id="postForm" method="post"
        enctype="multipart/form-data">
        <label for="titulo">Titulo</label>
        <input type="text" name="titulo" id="titulo_post"
            placeholder="Titulo" maxlength="50" required>
        <label for="contenido_post">Contenido</label>
        <textarea name="contenido_post" id="contenido_post"
            maxlength="500" style="min-height: 300px;" required></textarea>
        <label for="imagen_post">Imagen</label>
        <img style="display: none;" id="imagen_preview" src="#" alt="Imagen previa" />
        <input type="file" name="imagen_post" id="imagen_post"
            accept="image/*">
        <label for="Categoria_post"></label>
        <select name="Categoria_post" id="Categoria_post" required>
            <option value="1">Cachorro Grande</option>
            <option value="2">Cachorro Mediano</option>
            <option value="3">Cachorro Pequeño</option>
            <option value="4">Perro Adulto</option>
            <option value="5">Gatos</option>
            <option value="6">Aves</option>
        </select>
        <button type="submit">Postear</button>
    </form>
</section>
<script src="/resources/js/forms.js"></script>