<link rel="stylesheet" href="/resources/css/footer.css">
<footer class="footer">
    <div class="footercontainer">
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/resources/img/iconografia/universidad.png" alt="universidad de san buenaventura">
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-info">
            <p>&copy; 2023 EnjoYourPet. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
