<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form class="form_loginn" action="/inciar" method="post">
        <h1>Inicia Sesion</h1>

        <input id="ing_correo" type="email" name="correo" placeholder="Correo"
            autocomplete="off" required>
        <input id="ing_contrasenia" type="password" name="contrasenia"
            placeholder="Contraseña" autocomplete="off" required>
        <button type="submit" class="Ingresar" name="enviar">Iniciar Sesión</button>
    </form>
</section>
<script src="/resources/js/forms.js"></script>
