<link rel="stylesheet" href="/resources/css/root.css">
<link rel="stylesheet" href="/resources/css/header.css">
<link rel="stylesheet" href="/resources/css/body.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<header>
    <div id="titulo" class="interactuable" onclick="linkTo(null,null)">
        <div id="logoContainer">
            <img id="logo" src="/resources/img/iconografia/logo.png" alt="">
            <img id="logo01"src="/resources/img/iconografia/logo01.png" alt="">
        </div>
    </div>
    <div class="menu">
        <div class="sandwich-menu" onclick="toggleMenu()">
            &#9776;
        </div>
        <% if(data.usuario != null) {%>
            <div class="menu-item">
                Adopciones
                <ul class="submenu">
                    <li onclick="linkTo('Pronto-Implementado')" /*onclick="linkTo('usuario','adopciones','adoptar')"*/>Adoptar</li>
                    <li onclick="linkTo('Pronto-Implementado')" /*onclick="linkTo('usuario','adopciones','dar')"*/>Dar en adopcion</li>
                </ul>
            </div>
        <% } %>
        <div class="menu-item">
            Lugares
            <ul class="submenu">
                <li><a href="https://www.google.com/maps/search/pet+friendly/" target="_blank">Pet Friendly</a></li>
                <li onclick="linkTo('Pronto-Implementado')" /*onclick="linkTo('localizacion',null)"*/>Localización</li>
            </ul>
        </div>
        <div class="menu-item">
            Negocios
            <ul class="submenu">
                <li onclick="linkTo('vender',null)">Vender</li>
                <li>Comprar
                    <ul>
                        <li onclick="linkTo('productos','todo','0')">Todo</li>
                        <li onclick="linkTo('productos','juguetes','0')">Juguetes</li>
                        <li onclick="linkTo('productos','alimentos','0')">Alimentos</li>
                        <li onclick="linkTo('productos','accesorios','0')">Accesorios</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="menu-item">
            Servicios
            <ul class="submenu">
                <li><a href="https://Digipets.com.co" target="_blank">Veterinaria</a></li>
                <li>Entrenamiento
                    <ul>
                        <li onclick="linkTo('entrenamiento','ensenar')">Enseñar</li>
                        <li onclick="linkTo('entrenamiento','aprender')">Aprender</li>
                    </ul>
                </li>
            </ul>
        </div>
        <% if(data.usuario == null) {%>
        <div class="menu-item">
            Cuenta
            <ul class="submenu">
                <li onclick="linkTo('cuenta','iniciar-sesion')">Iniciar</li>
                <li onclick="linkTo('cuenta','registrarse')">Registrarse</li>
            </ul>
        </div>
        <% }else{%>
            <div class="menu-item">
                
                    <% var usuario = data.usuario; %>
                    <% var espacioIndex = usuario.indexOf(' '); %>
                    <span><%= espacioIndex !== -1 ? usuario.substring(0, espacioIndex) : usuario %></span>
                <ul class="submenu">
                    <li onclick="linkTo('usuario', 'productos')">Productos</li>
                    <li onclick="linkTo('usuario', 'carrito')">Carrito</li>
                    <li onclick="linkTo('usuario', 'informacion')">Información</li>
                    <li onclick="linkTo('usuario', 'cerrar-sesion')">Salir</li>
                </ul>
            </div>
        <% } %>
    </div>

    <script src="/resources/js/header.js"></script>
</header>
