<section class="sign__flex">
  <form
    class="registerform"
    id="registrar-Usuario-form"
    action="/usuario/recuperar-contrasenia/verificar"
    method="post"
  >
    <h1>Recuperar Contraseña</h1>
    <label for="correo">Ingresa tu correo</label>
    <input
      id="_registercorreo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    <button id="submit-btn registrar-submit-btn" type="submit" name="enviar">
      Enviar
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
