<section class="sign__flex">
  <form class="form_loginn" action="/inciar" method="post">
    <h1>Inicia Sesi칩n</h1>

    <input
      id="ing_correo"
      type="email"
      name="correo"
      placeholder="Correo"
      autocomplete="off"
      required
    />
    <input
      id="ing_contrasenia"
      type="password"
      name="contrasenia"
      placeholder="Contrase침a"
      autocomplete="off"
      required
    />
    <button type="submit" class="Ingresar" name="enviar">Iniciar Sesi칩n</button>
    <button
      class="other-button"
      onclick="linkTo('usuario','recuperar-contrasenia')"
    >
      Olvide Mi Contrase침a
    </button>
  </form>
</section>
<script src="/resources/js/forms.js"></script>
