<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form action="/usuario/adopciones/dar/registrarmascota" id="registrarMascotaForm" method="post" 
    enctype="multipart/form-data">
        <h1>Dar En Adopcion</h1>
        <label for="Nombre">Nombre</label>
        <input id="Nombre_Mascota" type="text" name="Nombre"
            placeholder="Nombre"
            autocomplete="off" maxlength="60">

        <label for="Edad">Edad</label>
        <input type="number" name="Edad" placeholder="Edad" maxlength="2"
            required>

        <div class="formSelectContainer">
            <div>
                <label for="Especie">Especie</label>
                <select name="Especie" required>
                    <option></option>
                    <option value="0">Perro</option>
                    <option value="1">Gato</option>
                </select>
            </div>
            <div>
                <label for="Raza">Raza</label>
                <select name="Raza" required>
                    <option></option>
                    <option value="0">Pastor Aleman</option>
                    <option value="1">Egipcio</option>
                </select>
            </div>
            <div>
                <label for="Sexo">Sexo</label>
                <select name="Sexo" required>
                    <option></option>
                    <option value="0">Hembra</option>
                    <option value="1">Macho</option>
                </select>
            </div>
        </div>
        <label for="Personalidad">Personalidad</label>
        <input id="Personalidad" type="text" name="Personalidad"
            placeholder="Personalidad"
            autocomplete="off" maxlength="75">

        <label for="Historia">Historia</label>
        <textarea id="Historia" name="Historia"
            placeholder="Historia o razones de la adopcion"
            autocomplete="off" maxlength="255"></textarea>

        <label for="C_Ninos">Comportamiento con Niños</label>
        <textarea id="C_Ninos" name="C_Ninos"
            placeholder="comportamiento y/o actitudes con los niños"
            autocomplete="off" maxlength="255" required></textarea>
        <label for="C_Animales">Comportamiento con Animales</label>
        <textarea id="C_Animales" name="C_Animales"
            placeholder="comportamiento y/o actitudes con otros animales"
            autocomplete="off" maxlength="255" required></textarea>
        
        <label for="Requisitos">Requisitos para adopcion</label>
        <textarea id="Requisitos" name="Requisitos"
            placeholder="Requisitos y/o necesidades especiales para la adopcion"
            autocomplete="off" maxlength="255" required></textarea>

        <div id="imagenesMacotaForm">
            <label for="imagen_mascota">Foto</label>
            <img style="display: none;" class="imagen_mascota_preview"
                id="imagen_01_preview" src="#"
                alt="Imagen previa" />
            <input type="file" name="imagen_mascota" class="imagen_mascota"
                id="imagen_01_mascota"
                accept="image/*" required>

            <img style="display: none;" class="imagen_mascota_preview"
                id="imagen_02_preview" src="#"
                alt="Imagen previa" />
            <input style="display: none;" type="file" name="imagen_mascota"
                class="imagen_mascota"
                id="imagen_01_mascota"
                accept="image/*">

            <img style="display: none;" class="imagen_mascota_preview"
                id="imagen_03_preview" src="#"
                alt="Imagen previa" />
            <input style="display: none;" type="file" name="imagen_mascota"
                class="imagen_mascota"
                id="imagen_01_mascota"
                accept="image/*">
            <img style="display: none;" class="imagen_mascota_preview"
                id="imagen_04_preview" src="#"
                alt="Imagen previa" />
        </div>
        <button type="reset">Limpiar</button>
        <button type="submit">Enviar</button>
    </form>
</section>
<script src="/resources/js/formRegistroMascota.js"></script>
