<section class="sign__flex">
  <!-- Formulario para registrar una mascota para dar en adopción -->
  <form action="/usuario/adopciones/dar/registrarmascota" id="registrarMascotaForm" method="post" enctype="multipart/form-data">
    <h1>Dar En Adopción</h1>
    
    <!-- Campo para ingresar el nombre de la mascota -->
    <label for="Nombre">Nombre</label>
    <input id="Nombre_Mascota" type="text" name="Nombre" placeholder="Nombre" autocomplete="off" maxlength="60" />

    <!-- Campo para ingresar la edad de la mascota -->
    <label for="Edad">Edad</label>
    <input type="number" name="Edad" placeholder="Edad" maxlength="2" required />

    <!-- Contenedor para seleccionar especie, raza y sexo de la mascota -->
    <div class="formSelectContainer">
      <div>
        <label for="Especie">Especie</label>
        <select name="Especie" id="especie-select" required>
          <option></option>
          <option value="0">Perro</option>
          <option value="1">Gato</option>
        </select>
      </div>
      <div>
        <label for="Raza">Raza</label>
        <select name="Raza" id="raza-select" required>
          <option></option>
          <!-- Iteración para mostrar las razas disponibles -->
          <% Info.forEach(raza => { %>
          <option value="<%= raza.id %>" class="<%= raza.especie %>"><%= raza.raza %></option>
          <% }) %>
        </select>
      </div>
      <div>
        <label for="Sexo">Sexo</label>
        <select name="Sexo" required>
          <option></option>
          <option value="0">Hembra</option>
          <option value="1">Macho</option>
        </select>
      </div>
    </div>
    
    <!-- Campo para ingresar la personalidad de la mascota -->
    <label for="Personalidad">Personalidad</label>
    <input id="Personalidad" type="text" name="Personalidad" placeholder="Personalidad" autocomplete="off" maxlength="75" />

    <!-- Campo para ingresar la historia de la mascota -->
    <label for="Historia">Historia</label>
    <textarea id="Historia" name="Historia" placeholder="Historia o razones de la adopción" autocomplete="off" maxlength="255"></textarea>

    <!-- Campo para ingresar el comportamiento con niños de la mascota -->
    <label for="C_Ninos">Comportamiento con Niños</label>
    <textarea id="C_Ninos" name="C_Ninos" placeholder="Comportamiento y/o actitudes con los niños" autocomplete="off" maxlength="255" required></textarea>
    
    <!-- Campo para ingresar el comportamiento con otros animales de la mascota -->
    <label for="C_Animales">Comportamiento con Animales</label>
    <textarea id="C_Animales" name="C_Animales" placeholder="Comportamiento y/o actitudes con otros animales" autocomplete="off" maxlength="255" required></textarea>

    <!-- Campo para ingresar los requisitos para la adopción de la mascota -->
    <label for="Requisitos">Requisitos para adopción</label>
    <textarea id="Requisitos" name="Requisitos" placeholder="Requisitos y/o necesidades especiales para la adopción" autocomplete="off" maxlength="255" required></textarea>

    <!-- Contenedor para cargar imágenes de la mascota -->
    <div id="imagenesMacotaForm">
      <label for="imagen_mascota">Foto</label>
      <!-- Vista previa de la imagen -->
      <img style="display: none" class="imagen_mascota_preview" id="imagen_01_preview" src="#" alt="Imagen previa" />
      <!-- Campo para cargar la imagen -->
      <input type="file" name="imagen_mascota" class="imagen_mascota" id="imagen_01_mascota" accept="image/*" required />
      
      <!-- Se pueden agregar más campos para cargar más imágenes si es necesario -->
    </div>
    
    <!-- Botones para limpiar el formulario y enviar los datos -->
    <button type="reset">Limpiar</button>
    <button type="submit">Enviar</button>
  </form>
</section>

<!-- Script para manejar el formulario -->
<script src="/resources/js/formRegistroMascota.js"></script>
