<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form class="registerform" id="registrar-Usuario-form"
        action="/registrar-usuario"
        method="post">
        <h1>Registrate</h1>

        <input id="registernombre" type="text" name="nombre"
            placeholder="nombre" autocomplete="off" required>
        <input id="_registercorreo" type="email" name="correo"
            placeholder="Correo" autocomplete="off" required>
        <input id="registercontrasenia" type="password"
            name="contrasenia" placeholder="Contraseña"
            autocomplete="off" required>
        <input id="registercontrasenia2" type="password"
            name="contrasenia2" placeholder="Confirma Tu Contraseña"
            autocomplete="off" required>
        <input id="registernumero" type="tel" name="numero"
            placeholder="Celular" maxlength="10" minlength="10" autocomplete="off"
            required>
        <button id="submit-btn"
            style="display: none;"
            type="submit" name="enviar">Enviar</button>
    </form>
</section>
<script src="/resources/js/forms.js"></script>
