<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form class="registerform" id="registrar-Usuario-form"
        action="/actualizar-telefono"
        method="post">
        <h1>Actualizar Telefono</h1>
        <label for="telefono">Telefono</label>
        <input type="number" name="telefono"
            placeholder="6047598542" autocomplete="off" maxlength="10" required>
        <button id="submit-btn registrar-submit-btn"
            type="submit" name="enviar">Enviar</button>
    </form>
</section>
<script src="/resources/js/forms.js"></script>
