<section class="sign__flex">
  <!-- Formulario para publicar una venta -->
  <form action="/PublicarUnaVenta" method="post" enctype="multipart/form-data">
    <!-- Campo para ingresar el título del producto -->
    <label for="nombre">Título</label>
    <input type="text" name="nombre" id="nombre_producto" placeholder="nombre" maxlength="100" required />

    <!-- Campo para ingresar la descripción del producto -->
    <label for="descripcion">Descripción</label>
    <textarea name="descripcion" id="descripcion_producto" maxlength="500" required style="min-height: 300px"></textarea>

    <!-- Campos para ingresar el stock y el precio del producto -->
    <div class="listado_1">
      <div>
        <label for="stock">Stock</label>
        <input name="stock" type="number" placeholder="15" required />
      </div>
      <div>
        <label for="precio">Precio</label>
        <input name="precio" type="number" placeholder="5000" required />
      </div>
    </div>

    <!-- Campo para seleccionar una imagen del producto -->
    <label for="imagen_post">Imagen</label>
    <img style="display: none" id="imagen_preview" src="#" alt="Imagen previa" />
    <input type="file" name="imagen_post" id="imagen_post" accept="image/*" />

    <!-- Campo para ingresar las dimensiones del producto -->
    <label for="dimenciones">Dimensiones</label>
    <input type="text" name="dimenciones" id="dimenciones_producto" placeholder="Dimensiones" maxlength="100" required />

    <!-- Campo para seleccionar la categoría del producto -->
    <label for="Categoria">Categoría</label>
    <select name="Categoria" id="Categoria_post" required>
      <option value="7">Comida</option>
      <option value="8">Juguetes</option>
      <option value="9">Accesorios</option>
    </select>

    <!-- Botón para enviar el formulario -->
    <button type="submit">Postear</button>
  </form>
</section>

<!-- Script para manejar el formulario -->
<script src="/resources/js/forms.js"></script>
