<link rel="stylesheet" href="/resources/css/forms.css">
<section style="width: fit-content;">
    <form class="form_login" id="validar-Usuario-form"
        action="/verificar-mail"
        method="post">

        <p>
            En tu correo encontraras el codigo de verificacion
        </p>

        <input id="__registercorreo" type="email" name="correo"
            placeholder="Correo" autocomplete="off" required value="<%= correo %>">
        <input id="registercodigo" type="text" name="codigo"
            placeholder="Codigo" maxlength="4"
            autocomplete="off" required>
        <button id="submit-btn" type="submit" name="enviar">Verificar</button>
    </form>
</section>
<script src="/resources/js/forms.js"></script>