<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/resources/img/iconografia/ico.ico"
            type="image/x-icon">
        <link rel="stylesheet" href="/resources/css/carousel.css">
        <link rel="stylesheet" href="/resources/css/anim.css">
        <title>EnjoYourPet</title>
    </head>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section>
                <div id="carousel">
                    <div class="containercarouselimg">
                        <div class="imagecontainer">
                            <p class="imgleyenda">La gente que realmente aprecia
                                a los animales siempre pregunta sus nombres</p>
                            <img src="/resources/img/carousel/001.jpg"
                                alt="imagen 1 del carousel">
                        </div>
                        <div class="imagecontainer">
                            <p class="imgleyenda">Los ojos de un animal tienen
                                el poder de hablar un gran lenguaje</p>
                            <img src="/resources/img/carousel/002.jpg"
                                alt="imagen 2 del carousel">
                        </div>
                        <div class="imagecontainer">
                            <p class="imgleyenda">Los animales no son
                                propiedades o cosas, sino organismos vivientes,
                                sujetos de una vida, que merecen nuestra
                                compasión, respeto, amistad y apoyo</p>
                            <img src="/resources/img/carousel/003.jpg"
                                alt="imagen 3 del carousel">
                        </div>
                        <div class="imagecontainer">
                            <p class="imgleyenda">El corazón de un animal late al ritmo de la naturaleza."</p>
                            <img src="/resources/img/carousel/004.jpg"
                                alt="imagen 4 del carousel">
                        </div>
                        <div class="imagecontainer">
                            <p class="imgleyenda">La presencia de un animal llena de alegría cualquier espacio.</p>
                            <img src="/resources/img/carousel/005.jpg"
                                alt="imagen 5 del carousel">
                        </div>
                    </div>
                </div>
            </section>
            <div class="sectionnomargin">
                <div class="horizontalmidsection">
                    <div class="textcontainer">
                        <strong><h2>¿Enjoy Your Pet?</h2></strong>
                        <p class="formatparagraph animated-text"
                            id="ejoyIndexText">
                            ● Proporciona bienestar, calidad, cuidado y respeto
                            a los nuevos miembros de la familia,
                            satisfaciendo las expectativas de nuestros clientes.

                            ● Mejora la calidad de vida de los animales
                            callejeros,
                            que actualmente no tienen cuidado
                            y una familia para adoptarlos.

                            ● Ofrece una tienda de productos atractivos,
                            garantizados
                            y de alta calidad
                        </p>
                    </div>
                </div>
                <div class="horizontalmidsection">
                    <div class="textcontainer">
                        <div><img src="/resources/img/body/footprint.png" alt></div>
                        <p>
                            <h2 id="dogsAmount">0</h2>
                            Perros que deambulan en condicion de calle
                        </p>
                        <div><img src="/resources/img/body/alert.png" alt></div>
                        <p>
                            <div
                                style="display: flex; flex-direction:row; margin: 0 auto;"><h3
                                    id="dogsperKM">0</h3><h2>/Km2</h2></div>
                            hasta 165 perro por kilometro cuadrado
                        </p>
                    </div>
                </div>
            </div>
            <% if(data.usuario == null) { %>
            <%- include("./partials/registro.ejs") %>
            <% } %>
        </main>
        <%- include("./partials/footer.ejs") %>
        <script src="/resources/js/carousel.js"></script>
        <script src="/resources/js/anim.js"></script>
    </body>
</html>