<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/resources/img/iconografia/ico.ico"
            type="image/x-icon">
        <title><%=tipo%></title>
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>

            <% if(tipo !== null) {%>
                <% const Ruta = './partials/' + tipo + '.ejs' %>
                <%- include(Ruta) %>
            <% } else {%>
                <section style="flex-direction: column;">
                    <h1 class="listado_1">Hubo un Problema</h1>
                    <h3 class="listado_1">No encontramos la ruta definida esperamos solucionar esto pronto</h3>
                </section>
            <% } %>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>