*{
    box-sizing:content-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Autour One, sans-serif;
    background: linear-gradient(180deg, var(--color-primario) 30%, var(--color-secundario) 50%, var(--color-terciario) 100%);
    color: var(--color-texto);
    overflow-x: hidden;
    font-weight: 700;

}
main{
    min-height: 100vh;
    min-width: 100vw;
    padding: 0%;
}
.interactuable{
    cursor: pointer;
}
.interactuable:hover{
    padding: 20px;
    color: var(--color-texto-terciario);
}

section {
    height: min-content;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    background-color: var(--color-terciario);
    margin: 20px auto;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.smallSection{
    height: fit-content;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    background-color: var(--color-terciario);
    margin: 25px auto;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.smallerSection{
    height: fit-content;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 90vw;
    background-color: var(--color-terciario);
    margin: 25px auto;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.sectionnomargin{
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 90vw;
    margin: 25px auto;
}
.horizontalmidsection{
    margin: 30px;
    flex: 1;
    width: 70%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.like_button_container {
    display: flex;
    padding: 10px;
    width: 25%;
    background-color: var(--color-primario);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 15px auto;
    flex-direction: column;
}

.like_button_container:hover {
    background-color: var(--color-enlace);
}

.formatparagraph{
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    text-align: center;
    white-space: pre-line;
}
.listado_1{
    list-style-type: none;
    width: fit-content;
    max-width: 80%;
    padding: 15px;
    margin: 5% auto;
    overflow-wrap: break-word;
    background-color: var(--color-primario);
    color: var(--color-texto-primario);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.grid{
    list-style-type: none;
    width: fit-content;
    max-width: 50%;
    padding: 15px;
    margin: 5% auto;
    overflow-wrap: break-word;
    background-color: var(--color-terciario);
    color: var(--color-texto-primario);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(200px,1fr)
        );
    gap: 32px;
}

.textcontainer{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-height: 100%;
    text-align: center;
    overflow-wrap: break-word;
    padding: 10px 20px 10px 20px;
}

.usuario_img{
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



@media screen and (max-width: 520px) {
    .listado_1{
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    .listado_1{
        font-size:smaller;
    }
}