.footer {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 20px 0;
    width: 100vw;
}

.footercontainer {
    max-width: 100vw;
    max-height: 150px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    max-height: 100px;
    width: auto;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-links li {
    margin-right: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--color-texto);
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--color-enlace-hover);
}

.footer-info {
    text-align: center;
    margin-top: 20px;
}

.footer-info p {
    font-size: 14px;
}
