header {
  /* Color principal */
  color: var(--color-texto-terciario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 905;
}

#logoContainer img {
  width: auto;
  height: 62px;
  /* max-width: 100%; */
}

/* Menús y elementos desplegables */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  z-index: 11;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  border-radius: 3px;
  background-color: var(--color-secundario);
  /* Color secundario */
  display: none;
  position: absolute;
  list-style: none;
  padding: 10px;
  max-width: 200px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  margin: 0 auto;
}

ul.submenu ul {
  border-radius: 3px;
  display: none;
  position: absolute;
  background-color: var(--color-secundario);
  list-style: none;
  text-align: center;
}

.vet--submenu {
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

/* @media (min-width: 768px) {
  .vet--submenu {
    left: 0;
    top: 100px;
  }
} */

.shop--submenu {
  top: 80px;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

ul.submenu ul li {
  padding: 10px 0;
  border-bottom: none;
  cursor: pointer;
  position: relative;
  left: 0;
}

ul.submenu li:hover ul {
  display: block;
  color: var(--color-texto-terciario);
}

li a {
  text-decoration: none;
  color: var(--color-texto-terciario);
}

.submenu li {
  padding: 10px;
  border-bottom: 1px solid var(--color-texto-terciario);
  cursor: pointer;
}

.submenu li:last-child {
  border-bottom: none;
}

.submenu li:hover,
.submenu li a:hover {
  color: var(--color-texto-secundario);
}

@media screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu-item {
    margin: 10px 0;
    padding: 0;
  }

  .menu.open .menu-item {
    display: none;
  }

  .sandwich-menu {
    font-size: 24px;
    display: block;
    cursor: pointer;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sandwich-menu.open {
    display: none;
  }

  .menu.open .menu-item.open .submenu {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .sandwich-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    margin: 0;
    position: relative;
    top: 50%;
  }

  .menu-item {
    display: none;
  }

  .menu.open .menu-item {
    display: block;
    cursor: pointer;
  }

  .menu.open .menu-item li {
    padding: 10px;
    border-bottom: none;
    cursor: pointer;
  }

  .menu.open .submenu li:last-child {
    border-bottom: none;
  }

  .sandwich-menu {
    position: relative;
    top: 0;
    margin: 10px;
    padding: 5px;
  }

  .submenu {
    top: 50%;
    display: none;
    position: relative;
    background-color: var(--color-secundario);
    /* Color secundario */
    list-style: none;
    margin: 10px;
    padding: 5px;
    transition: right 1s ease;
  }

  .menu-item:hover .submenu {
    /* right: 10px; */
    display: block;
  }
}

@media screen and (max-width: 450px) {
  header {
    min-width: 1005;
  }
}

@media screen and (max-width: 335px) {
  #logo01 {
    display: none;
  }
  #logo {
    height: 50px;
    width: 75px;
    margin: 2.5px;
    padding: 2.5px;
  }
}
