.modal_button {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0;
  font-size: 2rem;
  background-color: #f26250;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #11111170;
  pointer-events: none;
  display: flex;
  opacity: 0;
  transition: opacity 0.2s 0.2s;
  z-index: 5;
  --transform: translateY(-100vh);
  --transition: transform 0.2s;
}

.modal_container {
  display: flex;
  position: relative;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 90%;
  max-width: 600px;
  max-height: 80%;
  background-color: #fff;
  padding: 3rem 2.5rem;
  transform: var(--transform);
  transition: var(--transition);
}

.modal_container h2 {
  font-size: 2.5rem;
  margin: 2rem;
}

.modal_container p {
  margin-bottom: 10px;
}

.collage_container {
  width: 90%;
  height: 80vh;
  max-height: 500px;
  margin: auto;
}

.collage_container img {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.6s;
}

.hide {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.unhide {
  opacity: 1;
}

.contact {
  text-decoration: none;
  color: #fff;
  background-color: #f26250;
  padding: 1rem 3rem;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
}

.close_modal {
  position: absolute;
  top: 0%;
  right: -8%;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
  padding: 0 10px;
  background-color: var(--color-primario);
  color: var(--color-terciario);
  border-radius: 100%;
}

.close_modal:hover {
  background-color: var(--color-secundario);
}

.leftbuttoncontrol {
  width: 50px;
  position: absolute;
  top: 50%;
  left: -10%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.rightbuttoncontrol {
  width: 50px;
  position: absolute;
  top: 50%;
  right: -15%;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.modal-show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.6s;
  --transform: translateY(0);
  --transition: transform 0.2s 0.2s;
}
