:root {
    --color-primario: #a787b8;
    /* Color principal (Morado suave) */
    --color-secundario: #c9aec4;
    /* Color secundario (Rosa medio) */
    --color-terciario: #ffffff;
    /* Color terciario (Gris medio) */
    --color-fondo: #a787b8;
    /* Color de fondo (Rosa claro) */
    --color-texto: #333;
    /* Color de texto principal (Gris oscuro) */
    --color-texto-secundario: #888;
    /* Color de texto secundario (Gris claro) */
    --color-texto-terciario: #FFECF0;
    /* Color de texto terciario (Rosa claro) */
    --color-enlace: #D6397E;
    /* Color de enlaces (Rosa oscuro) */
    --color-enlace-hover: #A12357;
    /* Color de enlaces al pasar el cursor (Rosa más oscuro) */
}
