/* Estilos para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    border: 1px solid var(--color-terciario);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--color-terciario);
}

th {
    background-color: var(--color-primario);
    color: var(--color-texto-terciario);
}

/* Estilos para enlaces en tablas */
table a {
    color: var(--color-enlace);
    text-decoration: none;
}

table a:hover {
    color: var(--color-enlace-hover);
    text-decoration: underline;
}
